# Tests
/coverage.out

/tmp/
*.exe
*.out
*.test

# Logs and debugging files
*.log
*.trace

# Environment and config files
.env

# Go module files (optional, but recommended for clean repo)
# /go.sum

# Compiled Python files (if any scripts are used)
__pycache__/
*.pyc
*.pyo
*.pyd

# OS-specific files
.DS_Store
Thumbs.db

# Editor and IDE-specific files
.vscode/
.idea/
*.iml

# example project
cine-dots

# extra prompt
./internal/prompts/system-prompt-2.yaml
./internal/prompts/system-prompt-3.yaml
./internal/prompts/system-prompt-4.yaml
./internal/prompts/system-prompt-5.yaml
./internal/prompts/system-prompt-fix-test-2.yaml
